#Rectangle-2{
    transform-box: fill-box;
    animation: toggleRightAnim 5000ms ease-in-out infinite;
}
#Rectangle-2_2{
    transform-box: fill-box;
    animation: toggleLeftAnim 5000ms ease-in-out infinite;
}
#Rectangle-2_3{
    transform-box: fill-box;
    animation: toggleRightAnim 5000ms ease-in-out infinite;
}
#Rectangle-2_4{
    transform-box: fill-box;
    animation: toggleLeftAnim 5000ms ease-in-out infinite;
    animation-delay: -1000ms;
}
#Rectangle-2_3-bg{
    transform-box: fill-box;
    animation: toggleRightBGAnim 5000ms ease-in-out infinite;
}
#Rectangle-2_4-bg{
    transform-box: fill-box;
    animation: toggleLeftBGAnim 5000ms ease-in-out infinite;
    animation-delay: -1000ms;
}
.radio{
    transform-box: fill-box;
    transform-origin: center;
    animation: radioBtnAnim 5000ms cubic-bezier(.3,-0.73,.64,1.64) infinite;
}
#Rectangle-3_22{
    animation-delay: -1000ms;
}
#Frame_11 path{
    animation: toggleGroupTextAnim 5000ms ease-in-out infinite;
}
#selectedBG{
    animation: toggleGroupBGAnim 5000ms ease-in-out infinite;
}
#Frame_61 rect{
    stroke: black;
    animation: buttonToggleRectAnim 5000ms ease-in-out infinite;
}
#Frame_61 path{
    fill: black;
    animation: buttonTogglePathAnim 5000ms ease-in-out infinite;
}
#Frame_38{
    transform-box: fill-box;
    animation: chevNudgeAnim 5000ms cubic-bezier(.3,-0.73,.64,1.64) infinite;
}
#Rectangle_18{
    stroke: black;
}
#Rectangle_14, #Rectangle_15, #Rectangle_16, #Rectangle_17, #Rectangle_18, #Rectangle_19{
    animation: galleryDotAnim 5000ms ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#Rectangle_14{
    animation-delay: -3750ms;
}
#Rectangle_15{
    animation-delay: -3000ms;
}
#Rectangle_16{
    animation-delay: -2250ms;
}
#Rectangle_17{
    animation-delay: -1500ms;
}
#Rectangle_18{
    animation-delay: -750ms;
}
#step_3{
    animation: stepAnim 5000ms ease-in-out infinite;
}
@keyframes stepAnim{
    0%{fill: white;}
    20%{fill: white;}
    30%{fill: black;}
    90%{fill: black;}
    100%{fill: white;}
}
@keyframes chevNudgeAnim{
    0%{transform: translateX(0);}
    40%{transform: translateX(0);}
    45%{transform: translateX(100%);}
    50%{transform: translateX(50%);}
    55%{transform: translateX(100%);}
    60%{transform: translateX(0);}
    100%{transform: translateX(0);}
}
@keyframes buttonToggleRectAnim {
    0%{fill: black;}
    10%{fill: white;}
    50%{fill: white;}
    60%{fill: black;}
    100%{fill: black;}
}
@keyframes buttonTogglePathAnim {
    0%{fill: white;}
    10%{fill: black;}
    50%{fill: black;}
    60%{fill: white;}
    100%{fill: white;}
}
@keyframes toggleGroupTextAnim{
    0%{stroke: black;}
    10%{stroke: white;}
    40%{stroke: white;}
    50%{stroke: black;}
    100%{stroke: black;}
}
@keyframes toggleGroupBGAnim{
    0%{fill: white;}
    10%{fill: black;}
    40%{fill: black;}
    50%{fill: white;}
    100%{fill: white;}
}
@keyframes galleryDotAnim{
    0%{fill: white; transform: scale(1);}
    2%{fill: black; transform: scale(1.25);}
    15%{fill: black; transform: scale(1.25);}
    17%{fill: white; transform: scale(1);}
    100%{fill: white; transform: scale(1);}
}
@keyframes radioBtnAnim {
    0%{transform: scale(0);}
    45%{transform: scale(0);}
    50%{transform: scale(1);}
    70%{transform: scale(1);}
    75%{transform: scale(0);}
    100%{transform: scale(0);}
}

@keyframes toggleRightAnim {
    0%{transform: translateX(0);}
    10%{transform: translateX(120%);}
    50%{transform: translateX(120%);}
    60%{transform: translateX(0);}
    100%{transform: translateX(0);}
}
@keyframes toggleLeftAnim {
    0%{transform: translateX(0);}
    30%{transform: translateX(0);}
    40%{transform: translateX(-120%);}
    90%{transform: translateX(-120%);}
    100%{transform: translateX(0);}
}
@keyframes toggleRightBGAnim {
    0%{fill: white;}
    10%{fill: black;}
    50%{fill: black;}
    60%{fill: white;}
    100%{fill: white;}
}
@keyframes toggleLeftBGAnim {
    0%{fill: black;}
    30%{fill: black;}
    40%{fill: white;}
    90%{fill: white;}
    100%{fill: black;}
}