body{
    overflow: hidden;
}
#wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto;
}
section{
    width: 100%;
    min-height: 100vh;
}
#hero-section{
    position: sticky;
    top: -32vw;
    background-image: url(images/Adir-hero.svg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.sticked{
    transform-origin: bottom right;
    transform: scale(0.6) translateY(-40%);
}

@media (prefers-color-scheme: dark) {
    #wrapper{
        filter: invert(100%) brightness(80%);
    }
}