#wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
#hero-section{
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    background-image: url(images/Adir-hero.svg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}